@import "../../styles.scss";

.titlebar {
    padding: .5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    position: fixed;
    width: 95vw;
    left: 2.5vw;
    top: 1.5rem;
    box-sizing: border-box;

    box-shadow: 5px 5px 20px rgba(0,0,0,.25);

    #header {
        font-family: 'Bitter', serif;
        font-size: 2rem;
        font-weight: 500;
        color: rgba(0,0,0,.6);

        strong {
            color: rgba(0,0,0,1);
        }
    }

    .subheader {
        font-family: futura, sans-serif;
        opacity: .5;
        width: 30%;

        &:last-of-type {
            text-align: right;
        }
    }
}