@import "../../styles.scss";

svg {
    position: fixed;
    width: 95vw;
    top: 45%;
    left: 2.5vw;
    transform: translateY(-50%);
    

    path, rect {
        stroke: white;
        stroke-width: 1;
        fill: $neutral;
        position: absolute;
        transition: all 200ms ease;
        cursor: pointer;

        &.superRed {
            fill: $red;
            fill-opacity: 1;
        }
        &.red {
            fill: $red;
            fill-opacity: .5;
        }
        &.neutral {
            fill: $neutral;
            fill-opacity: 1;
        }
        &.blue {
            fill: $blue;
            fill-opacity: .5;
        }
        &.superBlue {
            fill: $blue;
            fill-opacity: 1;
        }

        &:hover {
            stroke:black;
            stroke-width: 2px;
            stroke-linecap: round;
            // fill:red;
            z-index: 100;
        }

        &.small-label {
            fill: white;
            stroke: white;
            stroke-width: .5px;
            pointer-events: none;
        }
    }

    path:hover {
        stroke: 1px solid black;
        z-index: 100;
    }
}


