@import "../../styles.scss";

.restart {
    position: fixed;
    top: 6rem;
    right: 2.5vw;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background-color: white;
    cursor: pointer;

    img {
        width: 80%;
        transition: all 200ms ease;
    }

    &:hover {
        transform: scale(1.1);

        img {
            transform: rotate(180deg);
        }
    }
}